!! Colorscheme

! Colors taken from Polybar

!background = #0d0f31
!foreground = #f8f8f3 
!sep = #3F5360

!white = #FFFFFF
!black = #000000
!red = #ff5555
!pink = #fb94ff
!purple = #c694ff
!blue = #1c8db2
!cyan = #00ffff
!teal = #00B19F
!green = #50fa7b
!lime = #B9C244
!yellow = #f08e48
!amber = #FBC02D
!orange = #ffb86c
!brown = #AC8476
!indigo = #6C77BB
!gray = #9E9E9E
!blue-gray = #44475a


! special 
*.foreground: #d3d0c8
*.background: #2d2d2d

! black
*.color0: #1E1E2E
*.color8: #747369

! red
*.color1: #ff5555
*.color9: #ff5555

! green 
*.color2: #6df1d8
*.color10: #6df1d8

! yellow
*.color3: #e68e35
*.color11: #e68e35

! blue
*.color4: #556cc9
*.color12: #556cc9

! magenta
*.color5: #FF79c6
*.color13: #FF79c6

! cyan
*.color6: #7a98ee
*.color14: #7a98ee

! white
*.color7: #d3d0c8
*.color15: #f2f0ec


URxvt.background: [70]#2d2d2d
URxvt.font:	xft:FantasqueSansMono\ Nerd\ Font\ Mono:size=9:antialias=true:hinting=true:autohint=true
URxvt.scrollBar:	false
URxvt.letterSpace:	1
URxvt.lineSpace: 0
URxvt.geometry: 92x24
URxvt.internalBorder: 24
URxvt.cursorBlink: true
URxvt.cursorUnderline: false
URxvt.saveline: 2048
URxvt.scrollBar_right: false
URxvt.urgentOnBell: false
URxvt.iso14755: false
URxvt.saveLines: 1000000
URxvt.keysym.C-0x63: eval:selection_to_clipboard
URxvt.keysym.C-0x76: eval:paste_clipboard
URxvt.visualBell: false

Xft.dpi: 287
Xft.hinting: true
Xft.rgba: none
Xft.hintstyle: hintfull
Xft.lcdfilter: lcddefault

